aiohttp
click
coverage
flake8
helpsk
jupyter-contrib-nbextensions
notebook
numpy
openai
pandas
plotly
plotly-express
pydantic
pytest
pytest-asyncio
pytest-aiohttp
python-dateutil
PyYAML
scikit-learn
tenacity
xmltodict
